.contacts-section {
  @include resp(
    margin-bottom,
    (
      md-down: 60px,
    )
  );
  .br-left-before {
    @include resp(
      padding-left,
      (
        xl: 45px,
      )
    );
    &:before {
      left: 15px;
      top: 0;
      height: calc(100% - 30px);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='512' viewBox='0 0 2 512' fill='none'%3E%3Cpath d='M1 1L1 511' stroke='%23969696' stroke-linecap='round'/%3E%3C/svg%3E");
      @include resp(
        display,
        (
          lg-down: none,
        )
      );
    }
  }
  .section {
    // .section__block-title

    &__block-title {
      margin-top: -9px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  // .contacts-section__item

  &__item {
    line-height: normal;
    a:hover {
      color: var(--color-red);
    }
  }

  // .contacts-section__item-title

  &__item-title {
    font-weight: 700;

    display: inline-flex;
    @include flex-v-center;
    gap: 11px;
    @include resp(
      font-size,
      (
        sm-down: 16px,
        md: 20px,
      )
    );
  }

  // .contacts-section__item-text

  &__item-text {
    margin-top: 5px;
    margin-left: 38px;
  }
  .contacts-section {
    // .contacts-section__sosials

    &__sosials {
      margin-top: 30px;
      @include resp(
        margin-left,
        (
          md: 38px,
        )
      );

      .sosials {
        justify-content: flex-start;
        gap: 5px;
        .sosial-link {
          transition: all 0.2s linear;
          &:hover {
            stroke: var(--color-red);
          }
          .icon-sosial {
            @include resp(
              width,
              (
                sm-down: 41px,
                md: 35px,
              )
            );
            @include resp(
              height,
              (
                sm-down: 41px,
                md: 35px,
              )
            );
            svg {
            }
          }
        }
      }
    }
  }
}

.contacts-section--cols-one {
  .section {
    // .section__block-title

    &__block-title {
      margin-top: 0px;
      display: flex;
      justify-content: center;
    }
    &__title {
      @include resp(
        font-size,
        (
          sm-down: 35px,
          md: 45px,
        )
      );
      font-weight: 600;
    }
  }

  .contacts-section__list {
    gap: 27px;
    align-items: center;
  }

  // .contacts-section__item-title

  .contacts-section__item-title {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    @include resp(
      font-size,
      (
        sm-down: 18px,
        md: 22px,
      )
    );
  }
  .contacts-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
  }
  // .contacts-section__item-text

  .contacts-section__item-text {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    @include resp(
      font-size,
      (
        sm-down: 14px,
        md: 18px,
      )
    );
  }
  .contacts-section {
    // .contacts-section__sosials

    &__sosials {
      @include resp(
        margin-top,
        (
          sm-down: 25px,
          md: 45px,
        )
      );
      @include resp(
        margin-left,
        (
          md: 0px,
        )
      );
    }
  }
  .map {
    @include resp(
      height,
      (
        sm-down: 300px,
        md: 650px,
      )
    );
  }
}
.map {
  @include resp(
    height,
    (
      sm-down: 300px,
      md: 500px,
    )
  );
}
.icon-contacts {
  width: 26px;
  height: 26px;
}
