// базовые подключения
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";

@import "vars";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./vendor/normalize";

@import "mixins";

@import "fonts";

@import "settings";
@import "./components/custom-select";
@import "./components/btn";

// подключения компонентов страницы
@import "./components/header";

@import "./components/main-block";
@import "./components/advantages";
@import "./components/main-catalog-kitchen";
@import "./components/main-catalog-closet";
@import "./components/statistics";
@import "./components/swiper";
@import "./components/section-form";
@import "./components/contacts-section";
@import "./components/our-advantages";
@import "./components/footer";
@import "./components/card";
.col-btn-pc,
.col-btn-mobile {
  display: flex;
  @include flex-h-center;

  align-items: flex-end;
  .button {
    width: 230px;
  }
}
.col-btn-mobile {
  margin-top: 40px;
}
.photo {
  height: 0;
  padding-bottom: 310px;
  width: 100%;
  display: block;
  overflow: hidden;

  img {
    position: absolute;
  }
}
.photo-big {
  padding-bottom: 580px;
}

.photo-horizontal {
  padding-bottom: 310px;
}

.photo-small {
  padding-bottom: 240px;
}
.photo-vertical {
  @include resp(
    padding-bottom,
    (
      sm-down: 33%,
      md: 450px,
    )
  );
  @include resp(
    width,
    (
      sm-down: 100%,
      md: 180px,
    )
  );
}
.photo-sm-down-big {
  @include resp(
    padding-bottom,
    (
      xs-down: 100%,
    )
  );
}
.photo-sm-down-small {
  @include resp(
    padding-bottom,
    (
      xs-down: 65%,
    )
  );
}

.photo-text {
  line-height: 1.1;

  &__title {
    font-weight: 500;
  }

  &__text {
    font-size: 12px;
    line-height: 1.3;
  }
}

.slide-small {
  @include resp(
    width,
    (
      sm-down: 200px,
      md: 300px,
    )
  );
  .photo {
    @include resp(
      padding-bottom,
      (
        sm-down: 150px,
        md: 225px,
      )
    );
  }
}

.slide-big {
  @include resp(
    width,
    (
      sm-down: 200px,
      md: 329px,
    )
  );
  .photo {
    @include resp(
      padding-bottom,
      (
        sm-down: 200px,
        md: 329px,
      )
    );
  }
}

.kitchen-catalog {
  .photo {
    @include resp(
      padding-bottom,
      (
        sm-down: 100%,
      )
    );
  }
  .photo-text {
    @include resp(
      padding,
      (
        sm-down: 20px 20px 2px 0,
        md: 7px 20px 4px 0,
      )
    );

    border-bottom-color: rgba(38, 38, 38, 0.5) !important;
    a {
      position: absolute;
      right: 0;
      bottom: 5px;
      &::after {
        content: "";

        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M0.677634 0.656893L12.6569 12.6361M12.6569 12.6361L12.6569 1.32241M12.6569 12.6361L1.34315 12.6361' stroke='%23262626' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

        @include resp(
          background-size,
          (
            sm-down: 14px 14px,
            md: 16px 16px,
          )
        );
        @include resp(
          width,
          (
            sm-down: 14px,
            md: 16px,
          ),
          height
        );
      }
    }
  }
}

.section-catalog-v1 {
  .col-l-v1 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: fit-content;
    @include resp(
      position,
      (
        lg: sticky,
      )
    );
    @include resp(
      top,
      (
        lg: 105px,
      )
    );
    .content-l-v1 {
      border-radius: 5px;
      padding: 35px 28px 43px;
      height: fit-content;
      width: auto;
      @include resp(
        margin-bottom,
        (
          lg: 0,
        )
      );
    }
    .btns-l-v1 {
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      width: 100%;
      .button {
        width: 100%;
        height: 40px;
        font-size: 11px;
      }
    }
  }
  .col-r-v1 {
    .photo {
      cursor: pointer;
      @include resp(
        padding-bottom,
        (
          sm-down: 69%,
          md: 66%,
        )
      );
    }
  }
}
.corp-form {
  font-size: 11px;
  font-weight: 300;

  line-height: normal;
}

.section-catalog-v2 {
  .col-l-v2 {
    height: 100%;
    @include resp(
      margin-top,
      (
        md-down: -8px,
        lg: -30px,
      )
    );
  }

  .col-r-v2 {
    height: 100%;
    @include resp(
      margin-top,
      (
        lg: -30px,
      )
    );
  }

  .photo {
    padding-bottom: 70%;
  }
  .photo-horizontal {
    padding-bottom: 48.3%;
  }
  .photo-small {
    @include resp(
      padding-bottom,
      (
        md-down: 70%,
        lg: 66%,
      )
    );
  }
  .photo-small-big {
    @include resp(
      padding-bottom,
      (
        md-down: 70%,
        lg: 75.5%,
      )
    );
  }
  .photo-big {
    @include resp(
      padding-bottom,
      (
        md-down: 63%,
        lg: 94%,
      )
    );
  }
}
.section-catalog-v3-title.bcg--black-v1 {
  @include resp(
    background-color,
    (
      sm-down: transparent,
    )
  );
}
.section-catalog-v3-title {
  & .text-white-custom {
    @include resp(
      color,
      (
        sm-down: #262626,
      )
    );
  }
}
.section-catalog-v3 {
  .photo {
    padding-bottom: 68%;
  }
}

.border-bottom.border-color-custom {
  border-color: #f6f6f680 !important;
}

.col-title {
  font-weight: 500;
  @include resp(
    font-size,
    (
      sm-down: 18px,
      md: 22px,
    )
  );
}
.col-text {
  font-size: 16px;
}
.mw-670 {
  max-width: 670px;
}

.section_galery_mebelerovka {
  .border-row-card {
    > .col-12 {
      @include resp(
        border-top,
        (
          lg-down: 0,
        )
      );
      @include resp(
        padding,
        (
          lg-down: 40px 0 23px 0,
        )
      );
      &:first-child {
        padding-top: 0;
        border: 0;
      }
      &:last-child {
        padding-bottom: 100px;
      }
      &:nth-child(2n) {
        .flex-custom-reverse {
          @include resp(
            flex-direction,
            (
              md: row-reverse !important,
            )
          );
        }
        .link-komplect {
          @include resp(
            margin-left,
            (
              md: 0,
            )
          );
        }
        .link-komplect {
          @include resp(
            flex-direction,
            (
              md: row-reverse,
            )
          );
          &:before {
            @include resp(
              transform,
              (
                md: rotate(180deg),
              )
            );
          }
        }
      }
    }
  }

  .swiper {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='25' viewBox='0 0 20 25' fill='none'%3E%3Cpath d='M19.0386 4.06977C18.3741 3.40532 17.3774 3.2392 16.5469 3.57143C16.5469 3.07309 16.3808 2.57475 15.8824 2.07641C15.5502 1.74419 14.8858 1.41196 14.0552 1.41196C13.5569 1.41196 13.2246 1.57807 12.8924 1.57807C12.8924 1.24585 12.7263 1.07973 12.5602 0.747508C11.7296 -0.249169 10.0685 -0.249169 9.23791 0.747508C8.90569 1.07973 8.57346 1.41196 8.57346 1.74419C8.24124 1.74419 7.90901 1.57807 7.57679 1.57807C6.74622 1.57807 6.24788 1.9103 5.74954 2.40864C4.91898 3.2392 4.91898 4.56811 4.91898 4.56811V10.8804C4.42064 10.3821 3.59007 9.5515 2.42728 9.5515C2.09506 9.5515 1.59672 9.71761 1.26449 9.88372C0.600041 10.2159 0.267815 10.7143 0.101702 11.3787C-0.396637 13.0399 1.09838 15.3654 1.09838 15.5316C1.26449 15.6977 3.09174 20.0166 4.75286 21.8439C6.41399 23.8372 8.24124 25 12.8924 25C17.7097 25 19.8691 22.3422 19.8691 16.5282V7.39203C19.8691 7.22591 20.0353 5.23256 19.0386 4.06977ZM9.90237 3.40532C9.90237 2.90698 9.73625 1.74419 10.7329 1.74419C11.5635 1.74419 11.5635 2.57475 11.5635 3.40532V10.0498C11.5635 10.5482 11.8957 10.8804 12.3941 10.8804C12.8924 10.8804 13.2246 10.5482 13.2246 10.0498V3.73754C13.2246 3.73754 13.2246 3.07309 14.0552 3.07309C15.0519 3.07309 14.8858 4.56811 14.8858 4.56811V10.0498C14.8858 10.5482 15.218 10.8804 15.7163 10.8804C16.2147 10.8804 16.5469 10.5482 16.5469 10.0498V6.06312C16.5469 5.89701 16.5469 5.06645 17.3774 5.06645C18.208 5.06645 18.208 6.72758 18.208 6.72758V16.5282C18.208 22.1761 16.0485 23.3389 12.8924 23.3389C8.90569 23.3389 7.41067 22.5083 6.08177 20.6811C4.58675 19.0199 2.5934 14.701 2.5934 14.5349C2.09506 14.0365 1.43061 12.5415 1.59672 11.8771C1.59672 11.711 1.76283 11.5449 1.92894 11.3787C2.09506 11.3787 2.26117 11.2126 2.26117 11.2126C2.92562 11.2126 3.59007 12.0432 3.75619 12.3754L4.75286 13.8704C4.91898 14.2027 5.41732 14.3688 5.74954 14.2027C6.41399 14.2027 6.58011 13.8704 6.58011 13.5382V4.90033C6.58011 4.23588 6.58011 3.2392 7.41067 3.2392C8.07512 3.2392 8.24124 3.73754 8.24124 4.56811V10.0498C8.24124 10.5482 8.57346 10.8804 9.0718 10.8804C9.57014 10.8804 9.90237 10.5482 9.90237 10.0498V3.40532Z' fill='%23F6F6F6'/%3E%3C/svg%3E")
        20 25,
      pointer;

    &:before {
      content: "";
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 22px;
      font-weight: 500;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &:hover {
      &:before {
        content: "Посмотреть";

        background: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .swiper-prev,
  .swiper-next {
    position: absolute;
    transform: translateY(-50%);
    z-index: 3;
    top: 50%;
    background: #f6f6f6;
    @include resp(
      width,
      (
        sm-down: 42px,
        md: 50px,
      )
    );
    @include resp(
      height,
      (
        sm-down: 30px,
        md: 37px,
      )
    );
  }
  .swiper-prev::after,
  .swiper-next::after {
    filter: invert(1);
  }
  .swiper-prev:hover,
  .swiper-next:hover {
    background: var(--color-text);
  }
  .swiper-prev:hover::after,
  .swiper-next:hover::after {
    filter: invert(0);
  }
  .swiper-prev {
    @include resp(
      left,
      (
        sm-down: 13px,
        md: 25px,
      )
    );
  }
  .swiper-next {
    @include resp(
      right,
      (
        sm-down: 13px,
        md: 25px,
      )
    );
  }
}
.link-komplect {
  cursor: pointer;
  @include resp(
    font-size,
    (
      md-down: 14px,
      md: 16px,
    )
  );
  display: flex;
  justify-content: space-between;
  gap: 44px;
  border-bottom: 1px solid #656565;
  @include resp(
    width,
    (
      md-down: 100%,
      md: fit-content,
    )
  );
  align-items: center;
  transition: all 0.1s ease;
  @include resp(
    flex-direction,
    (
      md-down: row-reverse,
    )
  );
  &:hover {
    border-bottom: 1px solid transparent;
  }
  &:before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18' fill='none'%3E%3Cpath d='M17.9412 9L1 9M1 9L9 17M1 9L9 1' stroke='%23656565' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    @include resp(
      transform,
      (
        md-down: rotate(225deg),
      )
    );
  }
}
@import "components/modal";
@import "components/fancybox";

// Страница контактов
.contacts-col-text {
  max-width: 460px;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
}
.main-swiper {
  @include resp(
    width,
    (
      sm-down: 160px,
      md: 290px,
    )
  );
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .swiper-slide {
    .photo {
      padding-bottom: 131%;
    }
  }
  img {
    opacity: 1;
  }
}
