<section class="section section--mb advantages advantages__block">
  <div class="container-xxl g-2 g-lg-4">
    <div class="advantages__items row row-cols-1 row-cols-md-2 row-cols-xl-4 g-1">
      <div class="col">
        <div class="advantages__item bcg--grey-v1">
          <div class="advantages__item-title">
            <div class="advantages__item-icon">
              <img class="advantages__item-icon--1" src="./img/advantages/advantages-1.svg" alt="" />
            </div>
          </div>
          <div class="advantages__item-text">Здесь наглядно можно убедится в качестве, посмотреть и потрогать готовые образцы кухонь и шкафов.</div>
        </div>
      </div>

      <div class="col">
        <div class="advantages__item col bcg--grey-v1">
          <div class="advantages__item-title">
            <div class="advantages__item-icon">
              <img class="advantages__item-icon--2" src="./img/advantages/advantages-2.svg" alt="" />
            </div>
          </div>
          <div class="advantages__item-text">Большинство компаний на рынке — это посредники. Наличие производства дает нам безграничные возможности.</div>
        </div>
      </div>
      <div class="col">
        <div class="advantages__item bcg--grey-v1">
          <div class="advantages__item-title">
            <div class="advantages__item-icon">
              <img class="advantages__item-icon--3" src="./img/advantages/advantages-3.svg" alt="" />
            </div>
          </div>
          <div class="advantages__item-text">Всю ответственность берём на себя. Ваш личный менеджер полностью проконтролирует процесс заказа.</div>
        </div>
      </div>
      <div class="col">
        <div class="advantages__item bcg--grey-v1">
          <div class="advantages__item-title">
            <div class="advantages__item-icon">
              <img class="advantages__item-icon--4" src="./img/advantages/advantages-4.svg" alt="" />
            </div>
          </div>
          <div class="advantages__item-text">Установим и подключим технику. Только собственные проверенные специалисты от дизайна до монтажа.</div>
        </div>
      </div>
    </div>
  </div>
</section>
