<footer class="footer">
  <div class="container-xxl g-2 g-lg-4">
    <div class="row g-0 gx-3">
      <div class="col-12 col-md-6 col-lg-4 g-0 gx-3">
        <a href="/" class="logo">
          <img src="./img/logo-footer.svg" alt="Логотип Акварель" />
        </a>
        <div class="footer__desc">12 лет профессионально решаем&nbsp;индивидуальные задачи</div>
      </div>
      <div class="col-12 col-md-6 g-0 offset-lg-2 row">
        <div class="col-12 col-lg-7 g-0 gx-3 footer__menu-block">
          <div class="menu-block__item">
            <div class="menu-block__title">Каталог</div>
            <nav class="nav">
              <ul>
                <li><a href="/">Кухни</a></li>
                <li><a href="/">Шкафы</a></li>
              </ul>
            </nav>
          </div>
          <div class="menu-block__item">
            <nav class="nav">
              <ul>
                <li><a href="/" class="menu-block__title">Покупателю</a></li>
              </ul>
            </nav>

            <!-- <nav class="nav">
              <ul>
                <li class="menu-block__link-pc-none">
                  <a href="/">Замер замещения</a>
                </li>
                <li class="menu-block__link-pc-none">
                  <a href="/">Оплата и сроки</a>
                </li>
                <li class="menu-block__link-pc-none">
                  <a href="/">Доставка и монтаж</a>
                </li>
                <li class="menu-block__link-pc-none">
                  <a href="/">Гарантия</a>
                </li>
                <li><a href="/">О компании</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav> -->
          </div>
        </div>
        <div class="col-12 col-lg-5 g-0 gx-3 block-button">
          <a class="button button--number" href="tel:8 495 120-18-66">8 495 120-18-66</a>
          <button class="button button--red" data-bs-toggle="modal" data-bs-target="#modalproect">Заказать проект</button>
        </div>
      </div>
    </div>
  </div>
</footer>
