<header class="header matte">
  <div class="container-xxl g-2 g-lg-4">
    <div class="header__block">
      <a href="/" class="logo">
        <img src="./img/logo.svg" alt="Логотип Акварель" />
      </a>

      <div class="header__block-col header__block-col--pcMenu">
        <nav class="nav nav__header d-none d-xl-block">
          <ul>
            <li class="nav__menu-item">
              <a class="nav__title-link" href="/">Каталог</a>
              <div class="nav__sub-menu position-absolute pt-50">
                <ul class="matte">
                  <li><a href="/">Кухни</a></li>
                  <li><a href="/">Шкафы</a></li>
                </ul>
              </div>
            </li>
            <li><a href="/">Покупателю</a></li>
            <!-- <li class="nav__menu-item">
              <a class="nav__title-link" href="/">Покупателю</a>
              <div class="nav__sub-menu">
                <ul class="matte">
                  <li><a href="/">Замер помещения</a></li>
                  <li><a href="/">Оплата и сроки</a></li>
                  <li><a href="/">Доставка и монтаж</a></li>
                  <li><a href="/">Гарантия</a></li>
                </ul>
              </div>
            </li> -->

            <li><a href="/">Контакты</a></li>
          </ul>
        </nav>
        <div class="header__contacts">
          <div class="time d-none d-lg-block">
            <div class="time__title">Режим работы</div>
            <div class="time__text">Пн-Пт: 10:00-21:00</div>
            <div class="time__text">Сб-Вс: 11:00-21:00</div>
          </div>
          <div class="block-button d-none d-md-flex">
            <a class="button button--number" href="tel:8 495 120-18-66">8 495 120-18-66</a>
            <button class="button button--red" data-bs-toggle="modal" data-bs-target="#modalraschetPrice">Расчет стоимости</button>
          </div>
        </div>
      </div>
      <div class="header__block-col header__block-col--mobileMenu" data-menu>
        <nav class="nav nav__header">
          <ul>
            <li class="pc-none"><a href="/">Главная</a></li>
            <li class="nav__menu-item">
              <a class="nav__title-link" href="/">Каталог</a>
              <div class="nav__sub-menu">
                <ul>
                  <li><a href="/">Кухни</a></li>
                  <li><a href="/">Шкафы</a></li>
                </ul>
              </div>
            </li>
            <!-- <li class="nav__menu-item">
              <a class="nav__title-link" href="/">Покупателю</a>
              <div class="nav__sub-menu">
                <ul>
                  <li><a href="/">Замер помещения</a></li>
                  <li><a href="/">Оплата и сроки</a></li>
                  <li><a href="/">Доставка и монтаж</a></li>
                  <li><a href="/">Гарантия</a></li>
                </ul>
              </div>
            </li> -->
            <li><a href="/">Покупателю</a></li>

            <li><a href="/">Контакты</a></li>
          </ul>
        </nav>
        <div class="header__contacts d-flex d-lg-none">
          <div class="time">
            <div class="time__title">Режим работы</div>
            <div class="time__text">Пн-Пт: 10:00-21:00</div>
            <div class="time__text">Сб-Вс: 11:00-21:00</div>
          </div>
          <div class="block-button d-flex d-md-none">
            <a class="button button--number" href="tel:8 495 120-18-66">8 495 120-18-66</a>
            <button class="button button--red" data-bs-toggle="modal" data-bs-target="#modalraschetPrice">Расчет стоимости</button>
          </div>
        </div>
      </div>
      <div class="burger-block d-flex d-xl-none">
        <button class="burger d-block" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
