<section class="section kitchen-catalog section--mt section--mb">
  <div class="container-xxl g-2 g-lg-4">
    <div class="section__block-title">
      <div class="section__subtitle">каталог</div>
      <div class="section__title">Кухни</div>
    </div>
    <div class="section--pb border-light-white catalog-block">
      <div class="row row-cols-2 row-cols-lg-3 gx-8 gx-lg-3 gy-24 gy-lg-4">
        <div class="col">
          <div class="catalog-card">
            <div class="photo">
              <img src="./img/kitchen/photo-k-1.png" alt="" />
            </div>

            <div class="photo-text border-bottom">
              <div class="photo-text__title">Green Crystal</div>
              <div class="photo-text__text">Кухня с металлокаркасом</div>
              <a href="/catalog.html"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="catalog-card">
            <div class="photo">
              <img src="./img/kitchen/photo-k-1.png" alt="" />
            </div>

            <div class="photo-text border-bottom">
              <div class="photo-text__title">Green Crystal</div>
              <div class="photo-text__text">Кухня с металлокаркасом</div>
              <a href="/catalog.html"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="catalog-card">
            <div class="photo">
              <img src="./img/kitchen/photo-k-1.png" alt="" />
            </div>

            <div class="photo-text border-bottom">
              <div class="photo-text__title">Green Crystal</div>
              <div class="photo-text__text">Кухня с металлокаркасом</div>
              <a href="/catalog.html"></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="catalog-card">
            <div class="photo">
              <img src="./img/kitchen/photo-k-1.png" alt="" />
            </div>

            <div class="photo-text border-bottom">
              <div class="photo-text__title">Green Crystal</div>
              <div class="photo-text__text">Кухня с металлокаркасом</div>
              <a href="/catalog.html"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0 justify-content-center mt-40 mt-md-120">
        <button class="button button--red button--all">Загрузить еще</button>
      </div>
    </div>
  </div>
</section>
