<section class="section kitchen-section section--mb">
  <div class="container-xxl g-2 g-lg-4">
    <div class="section__block-title">
      <div class="section__subtitle">каталог</div>
      <div class="section__title">Кухни</div>
    </div>
    <div class="section--pb border-light-white">
      <div class="row row-cols-2 gx-2 gx-lg-3">
        <div class="col">
          <div class="row">
            <div class="col-12 gx-2 gx-lg-3">
              <a href="/catalog.html" class="photo photo-big photo-sm-down-big">
                <img src="./img/kitchen/photo-k-1.png" alt="" />
                <div class="matte photo-matte text-white-custom photo-text">
                  <div class="photo-text__title">Green Crystal</div>
                  <div class="photo-text__text">Кухня с металлокаркасом</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-12">
              <a href="/catalog.html" class="photo photo-horizontal photo-sm-down-small">
                <img src="./img/kitchen/photo-k-2.png" alt="" />
                <div class="matte photo-matte text-white-custom photo-text">
                  <div class="photo-text__title">Green Crystal</div>
                  <div class="photo-text__text">Кухня с металлокаркасом</div>
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6">
              <a href="/catalog.html" class="photo photo-small photo-sm-down-small">
                <img src="./img/kitchen/photo-k-3.png" alt="" />
                <div class="matte photo-matte text-white-custom photo-text">
                  <div class="photo-text__title">Green Crystal</div>
                  <div class="photo-text__text">Кухня с металлокаркасом</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-12 col-md-6 offset-md-6">
              <a href="/catalog.html" class="photo photo-small photo-sm-down-small">
                <img src="./img/kitchen/photo-k-4.png" alt="" />
                <div class="matte photo-matte text-white-custom photo-text">
                  <div class="photo-text__title">Green Crystal</div>
                  <div class="photo-text__text">Кухня с металлокаркасом</div>
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 offset-md-6">
              <a href="/catalog.html" class="photo photo-small photo-sm-down-small">
                <img src="./img/kitchen/photo-k-4.png" alt="" />
                <div class="matte photo-matte text-white-custom photo-text">
                  <div class="photo-text__title">Green Crystal</div>
                  <div class="photo-text__text">Кухня с металлокаркасом</div>
                </div>
              </a>
            </div>
            <div class="col-6 gy-2 gy-lg-3 d-none d-md-flex col-btn-pc">
              <a href="/catalog.html" class="button"> Перейти в&nbsp;каталог</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="col-12 col-lg-6 g-2 g-lg-3">
            <a href="/catalog.html" class="photo photo-big photo-sm-down-big">
              <img src="./img/kitchen/photo-k-6.png" alt="" />
              <div class="matte photo-matte text-white-custom photo-text">
                <div class="photo-text__title">Green Crystal</div>
                <div class="photo-text__text">Кухня с металлокаркасом</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
