<section class="section closet-section section--mb">
  <div class="container-xxl g-2 g-lg-4">
    <div class="section__block-title">
      <div class="section__subtitle">каталог</div>
      <div class="section__title">шкафы</div>
    </div>
    <div class="section--pb border-light-white">
      <div class="row g-2 g-lg-3">
        <div class="col-closet col-12 col-lg-4">
          <a href="/catalog.html" class="photo">
            <img src="./img/closet/closet-1.jpg" alt="" />
            <div class="matte photo-matte photo-text">
              <div class="photo-text__title">Green Crystal</div>
              <div class="photo-text__text">Кухня с металлокаркасом</div>
            </div>
          </a>
        </div>
        <div class="col-closet col-12 col-lg-4">
          <a href="/catalog.html" class="photo">
            <img src="./img/closet/closet-2.jpg" alt="" />
            <div class="matte photo-matte photo-text">
              <div class="photo-text__title">Green Crystal</div>
              <div class="photo-text__text">Кухня с металлокаркасом</div>
            </div>
          </a>

          <div class="d-none d-lg-flex col-btn-pc mt-lg-auto">
            <a href="/catalog.html" class="button">Перейти в&nbsp;каталог</a>
          </div>
        </div>
        <div class="col-closet col-12 col-lg-4">
          <a href="/catalog.html" class="photo">
            <img src="./img/closet/closet-3.jpg" alt="" />
            <div class="matte photo-matte photo-text">
              <div class="photo-text__title">Green Crystal</div>
              <div class="photo-text__text">Кухня с металлокаркасом</div>
            </div>
          </a>
        </div>
        <div class="col-closet col-12 d-flex d-lg-none col-btn-mobile">
          <a href="/catalog.html" class="button">Перейти в&nbsp;каталог</a>
        </div>
      </div>
    </div>
  </div>
</section>
