<section class="section mexanizm-section">
  <div class="container-xxl g-2 g-lg-4">
    <div class="section__block-title row mb-25 mb-md-30">
      <div class="col-12 col-lg-10">
        <div class="section__subtitle">эргономика</div>
        <div class="section__title">Механизмы и техника</div>
      </div>
      <div class="swiper-block-button col-12 col-lg-2">
        <div class="swiper-prev"></div>
        <div class="swiper-next"></div>
      </div>
    </div>

    <div class="section--pb border-light-white">
      <div class="swiper swiper-mexanizm-section">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide-small">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-1.jpeg" alt="" />
            </div>
          </div>
          <div class="swiper-slide slide-big">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-2.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-3.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide slide-big">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-4.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide slide-big">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-1.jpeg" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-3.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide slide-big">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-4.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-slide slide-big">
            <div class="photo">
              <img src="./img/mexanizm/mexanizm-1.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
