<section class="section statistics statistics-section">
  <div class="container-xxl g-2 g-lg-4">
    <div class="statistics__items row row-cols-1 row-cols-md-2 row-cols-xxl-4 g-1">
      <div class="col">
        <div class="statistics__item col bcg--grey-v1">
          <div class="statistics__item-title">>12 лет</div>
          <div class="statistics__item-text">на рынке мебели</div>
        </div>
      </div>
      <div class="col">
        <div class="statistics__item col bcg--grey-v1">
          <div class="statistics__item-title">>3000</div>
          <div class="statistics__item-text">реализованных проектов</div>
        </div>
      </div>
      <div class="col">
        <div class="statistics__item col bcg--grey-v1">
          <div class="statistics__item-title">100%</div>
          <div class="statistics__item-text">клиентов удовлетворены конечным результатом</div>
        </div>
      </div>
      <div class="col">
        <div class="statistics__item col bcg--grey-v1">
          <div class="statistics__item-title">3 года</div>
          <div class="statistics__item-text">гарантия на всю мебель</div>
        </div>
      </div>
    </div>
  </div>
</section>
