<section class="sect-form sect-form__block">
  <div class="sect-form__block-photo">
    <img src="./img/form-1.jpg" alt="" />
  </div>
  <div class="sect-form__block-content">
    <div class="container-xxl g-2 g-lg-4">
      <div class="row">
        <div class="col-12 col-xl-6 br-left-before">
          <div class="section__block-title sect-form__block-title text-white-custom">
            <div class="section__title">Не нашли что искали?</div>
            <div class="section__subtitle">
              <div>Заполните форму и мы поможем Вам!</div>
              <div>Разработка дизайна вашей мебели в подарок</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-6">
          <form class="sect-form__form">
            <div class="row mb-15">
              <div class="col">
                <input type="text" class="form-control" placeholder="ФИО" />
              </div>
            </div>
            <div class="row mb-15">
              <div class="col">
                <input type="tel" class="form-control" placeholder="Телефон" />
              </div>
            </div>

            <div class="row mb-24">
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1" checked />
                  <label class="form-check-label text-white-custom" for="gridCheck1"> Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности </label>
                </div>
              </div>
            </div>
            <button type="submit" class="button button--white">Заказать</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
